---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&format=json&license=2,3,4,5,6,9&method=flickr.photos.search&nojsoncallback=1&per_page=1&safe_search=1&sort=relevance&tags=Denver,CO,skyline,city
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1070103,"perpage":1,"total":"1070103","photo":[{"id":"5891370951","owner":"32742321@N06","secret":"b290560390","server":"5312","farm":6,"title":"Purple
        Mountain Majesty","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 05 Jun 2019 16:43:29 GMT
recorded_with: VCR 5.0.0
