---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<flickr_api_key>&content_type=1&format=json&license=2,3,4,5,6,9&method=flickr.photos.search&nojsoncallback=1&per_page=1&safe_search=1&sort=relevance&tags=Denver,skyline,city
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1009986,"perpage":1,"total":"1009986","photo":[{"id":"33433751038","owner":"62401943@N06","secret":"1ccce834d9","server":"7884","farm":8,"title":"Denver
        skyline","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 04 Jun 2019 15:30:00 GMT
recorded_with: VCR 5.0.0
